<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>

<body>
<div th:fragment="side_menu" role="side_menu">
	<!-- SIDE MENU -->
	<div id="skin-select">
		<div id="logo">
			<h1>
				CloudSoft<span>v1.2</span>
			</h1>
		</div>

		<a id="toggle"> <span class="entypo-menu"></span>
		</a>
		<div class="dark">
			<form action="#">
				<span> <input type="text" name="search" value=""
					class="search rounded id_search" placeholder="搜索栏目..." autofocus="">
				</span>
			</form>
		</div>

		<div class="search-hover">
			<form id="demo-2">
				<input type="search" placeholder="搜索栏目..." class="id_search">
			</form>
		</div>

		<div class="skin-part">
			<div id="tree-wrap">
				<div class="side-bar">
					<ul class="topnav menu-left-nest">
						<li><a href="#" style="border-left: 0px solid !important;"
							class="title-menu-left"> <span>主栏目</span>
						</a></li>
						<li>
							<a class="tooltip-tip ajax-load" href="#" title="多级菜单">
								<i class="icon-document-edit"></i> <span>多级菜单</span>
							</a>
							<ul>
								<li>
									<a class="tooltip-tip2 ajax-load" href="blog-list.html"
										title="Blog List"> <i class="entypo-doc-text"></i> <span>Blog
											List</span></a></li>
								<li>
									<a class="tooltip-tip2 ajax-load"
										href="blog-detail.html" title="Blog Detail"> <i
											class="entypo-newspaper"></i><span>Blog Details</span>
									</a>
								</li>
							</ul>
						</li>
						
						<li>
							<a class="tooltip-tip ajax-load" href="#" title="媒体库">
								<i class="icon-camera"></i> <span>多级菜单</span>
							</a>
							<ul>
								<li>
									<a class="tooltip-tip2 ajax-load" href="/photo_gallery" title="Blog List">
									<i class="entypo-doc-text"></i> 
									<span>照片墙</span>
									</a>
								</li>
								<li>
									<a class="tooltip-tip2 ajax-load" th:href="@{/t}" title="Blog Detail"> 
										<i class="entypo-newspaper"></i>
										<span>照片列表</span>
									</a>
								</li>
								<li>
									<a class="tooltip-tip2 ajax-load" th:href="@{/t}" title="Blog Detail"> 
										<i class="entypo-newspaper"></i>
										<span>照片列表</span>
									</a>
								</li>
								<li>
									<a class="tooltip-tip2 ajax-load" th:href="@{/t}" title="Blog Detail"> 
										<i class="entypo-newspaper"></i>
										<span>照片列表</span>
									</a>
								</li>
								<li>
									<a class="tooltip-tip2 ajax-load" th:href="@{/media/map_list_0_15_0}" title="Blog Detail"> 
										<i class="entypo-newspaper"></i>
										<span>地图列表</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>

					<div id="g1" style="height: 180px" class="gauge"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END OF SIDE MENU -->
</body>
</html>



