<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
	<meta charset="utf-8">
	<title>TUNAMI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" th:href="@{/assets/css/loader-style.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	        <![endif]-->
	<!-- Fav and touch icons -->
	<link rel="shortcut icon" th:href="@{/assets/ico/minus.png}">
	
	<script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
</head>

<div th:fragment="navbar">
<!-- TOP NAVBAR -->
	<nav role="navigation" class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="entypo-menu"></span>
				</button>
				
				<button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
					<span class="entypo-list-add"></span>
				</button>
				
				<div id="logo" style="top: 0px; left: -200px; font-style: italic;">
					<h1 style="width: 1000px;">
						TUNAMI<span>v1.0</span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						欢迎使用开卷文化图片库管理系统
					</h1>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
<!-- /END OF TOP NAVBAR -->
</div>

<div th:fragment="side_menu">
	<!-- SIDE MENU -->
	<div id="skin-select">
		<a id="toggle"> 
			<span class="entypo-menu"></span>
		</a>
		
		<div class="dark">
			<form action="#">
				<span> <input type="text" name="search" value=""
					class="search rounded id_search" placeholder="搜索栏目..." autofocus="">
				</span>
			</form>
		</div>

		<div class="search-hover">
			<form id="demo-2">
				<input type="search" placeholder="搜索栏目..." class="id_search">
			</form>
		</div>

		<div class="skin-part">
			<div id="tree-wrap">
				<div class="side-bar">
					<ul class="topnav menu-left-nest">
						<li>
							<a href="/" style="border-left: 0px solid !important;" class="title-menu-left"> <span>主页</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip2 ajax-load" th:href="@{/media/photo_list_0_15}">
								<i class="icon-camera"></i> 
								<span>照片列表</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip2 ajax-load" th:href="@{/media/photo_list_bristol_0_15}">
								<i class="icon-camera"></i> 
								<span>照片列表-bristol</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip2 ajax-load" th:href="@{/media/photo_list_joseph_0_15}">
								<i class="icon-camera"></i> 
								<span>照片列表-joseph</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip2 ajax-load" th:href="@{/media/photo_list_yenching_0_15}">
								<i class="icon-camera"></i> 
								<span>照片列表-yenching</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip2 ajax-load" th:href="@{/media/photo_list_weichat_0_15}">
								<i class="icon-camera"></i> 
								<span>照片列表-WeiChat</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip2 ajax-load" th:href="@{/media/map_list_0_15}">
								<i class="icon-camera"></i> 
								<span>地图列表</span>
							</a>
						</li>
					</ul>

					<div id="g1" style="height: 180px" class="gauge"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="footer">
	<div class="footer-space"></div>
	<div id="footer">
		<div class="devider-footer-left"></div>
		<div class="time">
			<p id="spanDate">
			<p id="clock">
		</div>
		<div class="copyright">
			&copy; 2018 Developed by <a href="http://miximixi.me" target="_blank">Matthew Liu, </a>
			All Rights Reserved.
		</div>
		<div class="devider-footer"></div>
	</div>
</div>
