<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet"> -->
<link rel="stylesheet" th:href="@{/assets/frontend/css/styles-merged.css}">
<link rel="stylesheet" th:href="@{/assets/frontend/css/style.css}">
</head>

<nav th:fragment="nav" class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
	<div class="container" style="background: rgba(255, 255, 255, 0.5);">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-collapse"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" title="主页"></a>
		</div>

		<div id="navbar-collapse" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">|&nbsp;&nbsp;主&nbsp;&nbsp;页</a></li>
				<li><a href="/lords-prayer">|&nbsp;&nbsp;主祷文</a></li>
				<li><a href="/prophet">|&nbsp;&nbsp;神&nbsp;&nbsp;谕</a></li>
				<li><a href="/anthem">|&nbsp;&nbsp;赞美诗</a></li>
				<li><a href="/holy-orders">|&nbsp;&nbsp;事&nbsp;&nbsp;工</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="content" th:fragment="content">
	<div class="waterfull clearfloat" id="waterfull">
		<ul id="ul-prayer">
			<li class="item" th:each="o : ${prayers}">
				<div class="description" style="max-height: 300px; line-height: 1.6em;" th:text="${o.content}"></div>
				<div class="qianm clearfloat">
					<span class="sp1"><b th:text="${o.see}"></b>浏览</span> 
					<span class="sp2" th:text="${o.info}"></span>
				</div> 
				<input th:value="${o.id}" style="display: none;">
			</li>
		</ul>
	</div>
</div>

<section th:fragment="vice-header" class="probootstrap-section probootstrap-bg-white" style="height: 350px;">
	<div class="owl-carousel owl-work probootstrap-animate"> 
		<div class="item">
          <a href="#">
            <img th:src="@{/assets/frontend/images/work_1.jpg}" alt="_">
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img th:src="@{/assets/frontend/images/work_4.jpg}" alt="_">
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img th:src="@{/assets/frontend/images/work_2.jpg}" alt="_">
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img th:src="@{/assets/frontend/images/work_7.jpg}" alt="_">
          </a>
        </div>  
        <div class="item">
          <a href="#">
            <img th:src="@{/assets/frontend/images/work_5.jpg}" alt="_">
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img th:src="@{/assets/frontend/images/work_6.jpg}" alt="_">
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img th:src="@{/assets/frontend/images/work_3.jpg}" alt="_">
          </a>
        </div>
	</div>
</section>

<footer class="probootstrap-footer" th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 copyright text-center">
				<h2 style="line-height: 0.5; color: white;">
<!-- 					网站头部耶稣基督肖像素材来源于《国家地理》杂志。<br/> -->
					<strong>荣耀归主！阿门！</strong>
				</h2>
				<h2 style="line-height: 0.5; color: white; font-size: 23px; margin-right: 15px; margin-bottom: 25px;">
					<strong>Glory Be to God! Amen!</strong>
				</h2>
				
				<p style="font-size: 2em;">本网站仅作宣扬基督福音之用途，所有经文均引用自《圣经》中文和合本与ESV英文标准版。</p>
				<p style="font-size: 2em;">
					Copyright &copy; 2018. From the <a href="mailto:tunami@outlook.com">developer</a>.
				</p>
				
				<!-- 
					From the developer, Matthew Liu, All rights reserved.
					Author:	Matthew Liu
					mailto: tunami@outlook.com
					blog:	http://miximixi.me
				 -->
			</div>
		</div>
	</div>
</footer>
