<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head lang="en" th:include="~{frontend/_scaffold_ :: header}"></head>

<!-- <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet"> -->

<!-- 瀑布流 -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/base.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/index.css}">

<!-- 播放器 -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/APlayer.min.css}">

<body>
	<nav th:replace="frontend/_scaffold_ :: nav"></nav>
	
	<section th:replace="frontend/_scaffold_ :: vice-header"></section>
    
	<section class="probootstrap-section probootstrap-bg-white">
		<div class="container" style="width: 1170px;">
			<div class="row">
				<div
					class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
					<h2>
						你们要赞美耶和华！ 
						<cite class="author">
							<span style="font-size: 16px; font-family: Bellefair, serif;">
								&mdash; 诗篇，106章1节
							</span>
						</cite>
					</h2>
				</div>
			</div>
			<div class="row">
				<div id="aplayer"></div>
			</div>
		</div>
	</section>

	<footer th:replace="frontend/_scaffold_ :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/scripts.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/frontend/js/custom.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/__.js}"></script>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/APlayer.min.js}"></script>
	<script type="text/javascript">
		const ap = new APlayer({
		    element: document.getElementById('aplayer'),
		    mini: false,
		    autoplay: false,
		    lrcType: 3,
		    mutex: true,
		    theme: '#e9e9e9',
		    order: 'random',
		    audio: (function () {
			    return JSON.parse($.ajax({
				    url: "/ajaxListAnthem",
				    	dataType: "json",
				    	type: "GET",
				    	contentType: "application/json",
			 	    	async: false, 
				}).responseText);
		    })()
		});
	</script>
</body>
</html>