<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head lang="en" th:include="~{frontend/_scaffold_ :: header}"></head>

<!-- <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet"> -->

<!-- 瀑布流 -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/base.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/index.css}">

<!-- 播放器 -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/APlayer.min.css}">

<body>
	<nav th:replace="frontend/_scaffold_ :: nav"></nav>
	
	<section th:replace="frontend/_scaffold_ :: vice-header"></section>
    
	<section class="probootstrap-section probootstrap-bg-white">
		<div class="container" style="width: 1170px;">
			<div class="row">
				<div
					class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
					<h2>
						你们要赞美耶和华！ 
						<cite class="author">
							<span style="font-size: 16px; font-family: Bellefair, serif;">
								&mdash; 诗篇，106章1节
							</span>
						</cite>
					</h2>
				</div>
			</div>
			<div class="row">
				<div id="aplayer"></div>
			</div>
		</div>
	</section>

	<footer th:replace="frontend/_scaffold_ :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/scripts.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/frontend/js/custom.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/APlayer.min.js}"></script>
	<script type="text/javascript">
		const ap = new APlayer({
		    element: document.getElementById('aplayer'),
		    mini: false,
		    autoplay: false,
		    lrcType: 3,
		    mutex: true,
		    theme: '#e9e9e9',
		    order: 'random',
		    audio: [{
		        name: '光るなら',
		        artist: 'Goose house',
		        url: 'https://moeplayer.b0.upaiyun.com/aplayer/hikarunara.mp3',
		        cover: 'https://moeplayer.b0.upaiyun.com/aplayer/hikarunara.jpg',
		        lrc: 'https://moeplayer.b0.upaiyun.com/aplayer/hikarunara.lrc',
		        theme: '#ebd0c2'
		    }, {
		        name: 'トリカゴ',
		        artist: 'XX:me',
		        url: 'https://moeplayer.b0.upaiyun.com/aplayer/darling.mp3',
		        cover: 'https://moeplayer.b0.upaiyun.com/aplayer/darling.jpg',
		        lrc: 'https://moeplayer.b0.upaiyun.com/aplayer/darling.lrc',
		        theme: '#46718b'
		    }, {
		        name: '前前前世',
		        artist: 'RADWIMPS',
		        url: 'https://moeplayer.b0.upaiyun.com/aplayer/yourname.mp3',
		        cover: 'https://moeplayer.b0.upaiyun.com/aplayer/yourname.jpg',
		        lrc: 'https://moeplayer.b0.upaiyun.com/aplayer/yourname.lrc',
		        theme: '#505d6b'
		    }, {
		        name: '光るなら(HLS)',
		        artist: 'Goose house',
		        url: 'https://moeplayer.b0.upaiyun.com/aplayer/hls/hikarunara.m3u8',
		        cover: 'https://moeplayer.b0.upaiyun.com/aplayer/hikarunara.jpg',
		        theme: '#ebd0c2',
		        type: 'hls'
		    }]
		});
	</script>
</body>
</html>