<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head lang="en" th:include="~{frontend/_scaffold_ :: header}"></head>

<!-- <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet"> -->

<!-- 瀑布流 -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/base.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/index.css}">

<body>
	<nav th:replace="frontend/_scaffold_ :: nav"></nav>
	
	<section th:replace="frontend/_scaffold_ :: vice-header"></section>

	<section class="probootstrap-section probootstrap-bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-1 probootstrap-animate"
					style="margin: 0px 10%;">
					<h4>感谢主</h4>
					<ul class="probootstrap-contact-info">
						<li>
							<p>
								一年前我蒙生了一个想法，开发一个用于基督人士祷告的网站，顺利注册了域名letspray.cn和letspray.me。letspray即Let's
								Pray（让我们祷告），一个很美妙的名字。</p>
							<p>
								本网站于2018年7月始建，耗时一个多月。除引用的模板素材外，所有的代码都为手写。感谢主赐的恩惠，我在盛夏时分很多个夜晚一边聆听圣经，一边为主工作。
							</p>
							<p>一个人的精力和创造力有限，这个网站还存在很多不足，需要弟兄姊妹的帮助。</p>
							<p>让我们一起为主做工！</p>
						</li>
					</ul>

					<h4>主内事工</h4>
					<ul class="probootstrap-contact-info">
						<li>
							<p>
								<strong>1) 前端视效：</strong>需1名长期人员，须具备图片处理，UI设计技能，会前端开发者更佳，负责网站的图片素材，版面设计。
							</p>
							<p>
								<strong>2) 文案运营：</strong>需1~2名长期人员，须熟悉圣经，有良好的文字功底，有新媒体运营经验者更佳，负责网站的内容启发和编辑。
							</p>
							<p>
								<strong>3) 贡献素材：</strong>网站的“神谕”和“赞美诗”栏目需要优质素材，可发送至下方邮件地址。来邮请按照要求：<br />
								神谕：请提供圣经原文，章节和类型（可选）；<br /> 赞美诗：请提供赞美诗mp3和lrc歌词文件（可选），音乐标题和歌手。
							</p>
							<p>
								<strong style="color: #ea5455;">注意：</strong>以上招募均不提供报酬；请确保所贡献的素材非取于自商业领域；本网站所有素材均来自公开互联网，如阁下发现有侵权内容，请来邮告知我们将其删除。
							</p>
						</li>
						<li>
							<i class="icon-email"></i>
							<a href="mailto:tunam7@outlook.com">tunam7@outlook.com</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="frontend/_scaffold_ :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/scripts.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/frontend/js/custom.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/__.js}"></script>
</body>
</html>