<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head lang="en" th:include="~{frontend/_scaffold_ :: header}"></head>

<link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">

<!-- Thumbnail Proximity Effect -->
<link rel="stylesheet" th:href="@{/assets/frontend/css/thumbnail.css}">

<!-- 瀑布流 -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/base.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/index.css}">

<!-- 弹出层 -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/component.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/content.css}" />

<!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
<body>
	<nav th:replace="frontend/_scaffold_ :: nav"></nav>
	
	<!-- <section class="flexslider"> -->
	<section class="pe-container" style="width: 100%; height: 500px; background: #b39e9e00 url(/assets/back.jpg) center center; text-align: center; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);">
		<ul id="pe-thumbs" class="pe-thumbs" style="list-style: none; padding: 0;">
<!--  			<li th:each="o : ${session.thumbnails}"><a><img th:src="@{'/assets/thumbnail/' + ${o.index} + '.png'}" /><div class="pe-description"><h3>time</h3><p>Since time, and his predestinated end</p></div></a></li> -->
 			<li th:each="o : ${session.thumbnails}"><a><img th:src="@{'/assets/thumbnail/' + ${o.index} + '.png'}" /></a></li>
		</ul>
	</section>

	<section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h2 style="color: #ffffff;">今日福音<span style="font-size: 16px; font-family: Bellefair,serif;"> / Today's Gospel</span></h2>
            <h5 style="font-size: 20px; color: #ffffff;" th:text="${session.gospel.content}"></h5>
            <h5 style="font-size: 16px; color: #ffffff;" th:text="@{'&mdash; ' + ${session.gospel.chapterInfo}}"></h5>
          </div>
        </div>
      </div>
    </section>

	<section class="probootstrap-section proboostrap-clients probootstrap-bg-white probootstrap-zindex-above-showcase">
		<div class="container">
			<div class="row" style="height: 150px;">
				<div class="col-md-6 col-md-offset-3 text-center probootstrap-animate">
					<h2>同心祷告<span style="font-size: 16px; font-family: Bellefair,serif;"> / Let's Pray</span></h2>
				</div>
				<div id="publish-message" style="width: 400px; height: 30px; font-size: 16px; text-align: center; border-radius: 3px; background: #ec5351; margin: 80px auto; color: #fff; display: none">
					<span>您的的祷告已提交，将在后台审核后显示。</span>
				</div>
			</div>
			
			<div class="waterfull clearfloat" id="waterfull">
				<ul id="ul-prayer">
					<li class="item" th:each="o : ${prayers}">
						<div class="description" style="max-height: 300px; line-height: 2em;" th:text="${o.content}"></div>
						<div class="qianm clearfloat">
							<span class="sp1"><b th:text="${o.see}"></b>浏览</span> 
							<span class="sp2" th:text="${o.info}"></span>
						</div> 
						<input th:value="${o.id}" style="display: none;">
					</li>
				</ul>
			</div>				
			
			<div id="imloading" style="width: 250px; height: 30px; line-height: 30px; font-size: 16px; text-align: center; border-radius: 3px; opacity: 0.7; background: #000; margin: 10px auto 30px; color: #fff; display: none">
				奉主耶稣的名求，阿们！
			</div>
		</div>
	</section>
	
	<footer th:replace="frontend/_scaffold_ :: footer"></footer>

	<div id="morph-button" style="position: fixed; bottom: 100px; right: 10px; z-index: 9;" class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
		<button type="button" style="background-image: url(/assets/frontend/images/publish.jpg);"></button>
		
		<div class="morph-content" style="left: 335.609px; top: 419.234px;">
			<div>
				<div class="col-md-10 probootstrap-animate">
					<span class="icon icon-close"></span> 
					<label>「你们当向圣所举手，称颂耶和华！」
						<cite class="author">&mdash; 马太福音，6章9-13节</cite>
					</label>
					<div class="form-group">
						<label>内容</label>
						<textarea cols="30" rows="10" class="form-control" id="content" name="content"></textarea>
					</div>
					<div class="form-group">
						<label>城市</label> 
						<input type="text" class="form-control" id="city" name="city">
					</div>
					<div class="form-group">
						<label>性别</label> 
						<div>
							<input name="gender" type="radio" id="male" value="m" checked="checked">
							<label for="male" style="margin-left: 8px;">弟兄</label>
							<input name="gender" type="radio" id="female" value="f" style="margin-left: 8px;"> 
							<label for="female" style="margin-left: 8px;">姊妹</label>
						</div>
					</div>
					<div class="form-group" style="text-align: right;" id="submit-button">
						<input type="submit" class="btn btn-primary btn-lg" name="submit" value="提交">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/assets/frontend/js/scripts.min.js}"></script>
	<script th:src="@{/assets/frontend/js/custom.min.js}"></script>
		
	<script type="text/javascript" th:src="@{/assets/frontend/js/__.js}"></script>
	
	<script type="text/javascript" th:src="@{/assets/frontend/js/jquery.proximity.js}"></script>
	
	<script type="text/javascript">
		$(function() {

			var Photo = (function() {
				// list of thumbs
				var $list = $('#pe-thumbs'),
				// list's width and offset left.
				// this will be used to know the position of the description container
				listW = $list.width(), listL = $list.offset().left,
				// the images
				$elems = $list.find('img'),
				// the description containers
				$descrp = $list.find('div.pe-description'),
				// maxScale : maximum scale value the image will have
				// minOpacity / maxOpacity : minimum (set in the CSS) and maximum values for the image's opacity
				settings = {
					maxScale : 1.3,
					maxOpacity : 0.9,
					minOpacity : Number($elems.css('opacity'))
				}, init = function() {
					// minScale will be set in the CSS
					settings.minScale = _getScaleVal() || 1;
					// preload the images (thumbs)
					_loadImages(function() {

						_calcDescrp();
						_initEvents();
					});
				},
				// Get Value of CSS Scale through JavaScript:
				// http://css-tricks.com/get-value-of-css-rotation-through-javascript/
				_getScaleVal = function() {

					var st = window.getComputedStyle($elems.get(0), null), tr = st
							.getPropertyValue("-webkit-transform")
							|| st.getPropertyValue("-moz-transform")
							|| st.getPropertyValue("-ms-transform")
							|| st.getPropertyValue("-o-transform")
							|| st.getPropertyValue("transform") || "fail...";

					if (tr !== 'none') {
						var values = tr.split('(')[1].split(')')[0].split(','), a = values[0], b = values[1], c = values[2], d = values[3];
						return Math.sqrt(a * a + b * b);
					}
				},
				// calculates the style values for the description containers,
				// based on the settings variable
				_calcDescrp = function() {
					$descrp.each(function(i) {
								var $el = $(this), $img = $el.prev(), img_w = $img
										.width(), img_h = $img.height(), img_n_w = settings.maxScale
										* img_w, img_n_h = settings.maxScale
										* img_h, space_t = (img_n_h - img_h) / 2, space_l = (img_n_w - img_w) / 2;

								$el.data('space_l', space_l).css({
									height : settings.maxScale * $el.height(),
									top : -space_t,
									left : img_n_w - space_l
								});
							});
				}, _initEvents = function() {
					$elems.on('proximity.Photo',
									{
										max : 80,
										throttle : 10,
										fireOutOfBounds : true
									},
									function(event, proximity, distance) {

										var $el = $(this), $li = $el
												.closest('li'), $desc = $el
												.next(), scaleVal = proximity
												* (settings.maxScale - settings.minScale)
												+ settings.minScale, scaleExp = 'scale('
												+ scaleVal + ')';

										// change the z-index of the element once it reaches the maximum scale value
										// also, show the description container
										if (scaleVal === settings.maxScale) {
											$li.css('z-index', 1000);
											if ($desc.offset().left
													+ $desc.width() > listL
													+ listW) {
												$desc.css('left', -$desc.width() - $desc.data('space_l'));
											}
											$desc.fadeIn(800);
										} else {
											$li.css('z-index', 1);
											$desc.stop(true, true).hide();
										}
										$el.css({
												'-webkit-transform' : scaleExp,
												'-moz-transform' : scaleExp,
												'-o-transform' : scaleExp,
												'-ms-transform' : scaleExp,
												'transform' : scaleExp,
												'opacity' : (proximity * (settings.maxOpacity - settings.minOpacity) + settings.minOpacity)
											});
									});
				}, _loadImages = function(callback) {
					var loaded = 0, total = $elems.length;
					$elems.each(function(i) {
						var $el = $(this);

						$('<img/>').load(function() {
							++loaded;
							if (loaded === total)
								callback.call();
						}).attr('src', $el.attr('src'));
					});
				};
				return {
					init : init
				};
			})();
			Photo.init();
		});
	</script>
	
	<!-- Waterfall -->
	<script type="text/javascript" th:src="@{/assets/frontend/js/jQueryColor.js}"></script>
	<!--这个插件是瀑布流主插件函数必须-->
	<script type="text/javascript" th:src="@{/assets/frontend/js/jquery.masonry.min.js}"></script>
	<!--这个插件只是为了扩展jquery的animate函数动态效果可有可无-->
	<script type="text/javascript" th:src="@{/assets/frontend/js/jQeasing.js}"></script>
	<script th:inline="javascript">
		$(function() {
			/*瀑布流开始*/
			var container = $('.waterfull ul');
			var loading = $('#imloading');
			// 初始化loading状态
			loading.data("on", true);
			/*判断瀑布流最大布局宽度，最大为1170*/
			function tores() {
				var tmpWid = $(window).width();
				if (tmpWid > 1170) {
					tmpWid = 1170;
				} else {
					var column = Math.floor(tmpWid / 320);
					tmpWid = column * 320;
				}
				$('.waterfull').width(tmpWid);
			}
			tores();
			$(window).resize(function() {
				tores();
			});
			container.imagesLoaded(function() {
				container.masonry({
					columnWidth : 230,
					itemSelector : '.item',
					isFitWidth : true,//是否根据浏览器窗口大小自动适应默认false
					isAnimated : true,//是否采用jquery动画进行重拍版
					isRTL : false,//设置布局的排列方式，即：定位砖块时，是从左向右排列还是从右向左排列。默认值为false，即从左向右
					isResizable : true,//是否自动布局默认true
					animationOptions : {
						duration : 800,
						easing : 'easeInOutBack',//如果你引用了jQeasing这里就可以添加对应的动态动画效果，如果没引用删除这行，默认是匀速变化
						queue : false
					//是否队列，从一点填充瀑布流
					}
				});
			});

			$(window)
					.scroll(
							function() {
								if (!loading.data("on"))
									return;
								// 计算所有瀑布流块中距离顶部最大，进而在滚动条滚动时进行ajax请求
								var itemNum = $('#waterfull').find('.item').length;
								var itemArr = [];
								itemArr[0] = $('#waterfull').find('.item').eq(
										itemNum - 1).offset().top
										+ $('#waterfull').find('.item').eq(
												itemNum - 1)[0].offsetHeight;
								itemArr[1] = $('#waterfull').find('.item').eq(
										itemNum - 2).offset().top
										+ $('#waterfull').find('.item').eq(
												itemNum - 1)[0].offsetHeight;
								itemArr[2] = $('#waterfull').find('.item').eq(
										itemNum - 3).offset().top
										+ $('#waterfull').find('.item').eq(
												itemNum - 1)[0].offsetHeight;
								var maxTop = Math.max.apply(null, itemArr);
								if (maxTop < $(window).height()
										+ $(document).scrollTop()) {
									//加载更多数据
									loading.data("on", false).fadeIn(800);
									var minId = $("#ul-prayer").children(
											":last").children("input").val()
									incrementProcess(itemNum, minId);
								}
							});

			function incrementProcess(itemNum, minId) {
				$
						.ajax({
							url : "/ajaxListPrayers/" + minId,
							dataType : "json",
							type : "GET",
							contentType : "application/json",
							success : function(increment) {
								/*根据后台返回的数据来判断是否你进行分页或者数据加载完毕这里假设大于100就不在加载数据*/
								if (itemNum >= 30) {
									loading.text('已显示最新100条祷告。');
								} else {
									var html = "";
									for ( var i in increment) {
										html += "<li class='item'>";
										/* <a href='#' class='a-img'><img src='"+increment[i].src+"'></a>"; */
										/* html+="<h2 class='li-title'>"+increment[i].title+"</h2>"; */
										html += "<div class='description' style='max-height: 300px; line-height: 2em;'>"
												+ increment[i].content
												+ "</div><div class='qianm clearfloat'>";
										html += "<span class='sp1'><b>"
												+ increment[i].see
												+ "</b>浏览</span>";
										html += "<span class='sp2'>"
												+ increment[i].info
												+ "&nbsp;By</span></div>";
										html += "<input value='"+increment[i].id+"' style='display: none;'>";
										html += "</li>";
									}
									/*模拟ajax请求数据时延时*/
									var time = setTimeout(function() {
										$(html).find('img').each(
												function(index) {
													loadImage($(this).attr(
															'src'));
												})
										var $newElems = $(html).css({
											opacity : 0
										}).appendTo(container);
										$newElems.imagesLoaded(function() {
											$newElems.animate({
												opacity : 1
											}, 800);
											container.masonry('appended',
													$newElems, true);
											loading.data("on", true).fadeOut();
											clearTimeout(time);
										});
									}, 800)
								}
							}
						});
			}

			function loadImage(url) {
				var img = new Image();
				//创建一个Image对象，实现图片的预下载
				img.src = url;
				if (img.complete) {
					return img.src;
				}
				img.onload = function() {
					return img.src;
				};
			}
			;
// 			loadImage('/assets/frontend/images/one.jpg');
			/*item hover效果*/
			var rbgB = [ '#71D3F5', '#F0C179', '#F28386', '#8BD38B' ];
			$('#waterfull').on('mouseover', '.item', function() {
				var random = Math.floor(Math.random() * 4);
				$(this).stop(true).animate({
					'backgroundColor' : rbgB[random]
				}, 1000);
			});
			$('#waterfull').on('mouseout', '.item', function() {
				$(this).stop(true).animate({
					'backgroundColor' : '#fff'
				}, 1000);
			});
		});
	</script>

	<script type="text/javascript">
		var scrolltotop = {
			setting : {
				startline : 100, //起始行
				scrollto : 0, //滚动到指定位置
				scrollduration : 400, //滚动过渡时间
				fadeduration : [ 500, 100 ]
			//淡出淡现消失
			},
			controlHTML : '<img src="/assets/frontend/images/top.jpg" />', //返回顶部按钮
			controlattrs : {
				offsetx : 65,
				offsety : 85
			},//返回按钮固定位置
			anchorkeyword : "#top",
			state : {
				isvisible : false,
				shouldvisible : false
			},
			scrollup : function() {
				if (!this.cssfixedsupport) {
					this.$control.css({
						opacity : 0
					});
				}
				var dest = isNaN(this.setting.scrollto) ? this.setting.scrollto
						: parseInt(this.setting.scrollto);
				if (typeof dest == "string" && jQuery("#" + dest).length == 1) {
					dest = jQuery("#" + dest).offset().top;
				} else {
					dest = 0;
				}
				this.$body.animate({
					scrollTop : dest
				}, this.setting.scrollduration);
			},
			keepfixed : function() {
				var $window = jQuery(window);
				var controlx = $window.scrollLeft() + $window.width()
						- this.$control.width() - this.controlattrs.offsetx;
				var controly = $window.scrollTop() + $window.height()
						- this.$control.height() - this.controlattrs.offsety;
				this.$control.css({
					left : controlx + "px",
					top : controly + "px"
				});
			},
			togglecontrol : function() {
				var scrolltop = jQuery(window).scrollTop();
				if (!this.cssfixedsupport) {
					this.keepfixed();
				}
				this.state.shouldvisible = (scrolltop >= this.setting.startline) ? true
						: false;
				if (this.state.shouldvisible && !this.state.isvisible) {
					this.$control.stop().animate({
						opacity : 1
					}, this.setting.fadeduration[0]);
					this.state.isvisible = true;
				} else {
					if (this.state.shouldvisible == false
							&& this.state.isvisible) {
						this.$control.stop().animate({
							opacity : 0
						}, this.setting.fadeduration[1]);
						this.state.isvisible = false;
					}
				}
			},
			init : function() {
				jQuery(document)
						.ready(
								function($) {
									var mainobj = scrolltotop;
									var iebrws = document.all;
									mainobj.cssfixedsupport = !iebrws
											|| iebrws
											&& document.compatMode == "CSS1Compat"
											&& window.XMLHttpRequest;
									mainobj.$body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $("html")
											: $("body"))
											: $("html,body");
									mainobj.$control = $(
											'<div id="topcontrol" style="z-index:9;" >'
													+ mainobj.controlHTML
													+ "</div>")
											.css(
													{
														position : mainobj.cssfixedsupport ? "fixed"
																: "absolute",
														bottom : mainobj.controlattrs.offsety,
														right : mainobj.controlattrs.offsetx,
														opacity : 0,
														cursor : "pointer"
													}).attr({
												title : "返回顶部"
											}).click(function() {
												mainobj.scrollup();
												return false;
											}).appendTo("body");
									if (document.all && !window.XMLHttpRequest
											&& mainobj.$control.text() != "") {
										mainobj.$control.css({
											width : mainobj.$control.width()
										});
									}
									mainobj.togglecontrol();
									$('a[href="' + mainobj.anchorkeyword + '"]')
											.click(function() {
												mainobj.scrollup();
												return false;
											});
									$(window).bind("scroll resize",
											function(e) {
												mainobj.togglecontrol();
											});
								});
			}
		};
		scrolltotop.init();
	</script>
	
	<!-- 弹出层 -->
	<script type="text/javascript" th:src="@{/assets/frontend/js/modernizr.custom.js}"></script>
	<script type="text/javascript" th:src="@{/assets/frontend/js/classie.js}"></script>
	<script type="text/javascript" th:src="@{/assets/frontend/js/uiMorphingButton_fixed.js}"></script>
	<script type="text/javascript">
	(function() {
		var docElem = window.document.documentElement, didScroll, scrollPosition;
	
		// trick to prevent scrolling when opening/closing button
		function noScrollFn() {
			window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
		}
	
		function noScroll() {
			window.removeEventListener( 'scroll', scrollHandler );
			window.addEventListener( 'scroll', noScrollFn );
		}
	
		function scrollFn() {
			window.addEventListener( 'scroll', scrollHandler );
		}
	
		function canScroll() {
			window.removeEventListener( 'scroll', noScrollFn );
			scrollFn();
		}
	
		function scrollHandler() {
			if( !didScroll ) {
				didScroll = true;
				setTimeout( function() { scrollPage(); }, 60 );
			}
		};
	
		function scrollPage() {
			scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
			didScroll = false;
		};
	
		scrollFn();
	
		[].slice.call( document.querySelectorAll( '#morph-button' ) ).forEach(function ( bttn ) {
			new UIMorphingButton( bttn, {
				closeEl : '.icon-close',
				onBeforeOpen : function() {
					// don't allow to scroll
					noScroll();
				},
				onAfterOpen : function() {
					// can scroll again
					canScroll();
				},
				onBeforeClose : function() {
					// don't allow to scroll
					noScroll();
				},
				onAfterClose : function() {
					// can scroll again
					canScroll();
				}
			} );
		});
	})();
	</script>
	
	<script th:inline="javascript">
		$(function () { 
			$("#submit-button").on("click", function () {
				if(false/* $("#username").val() == "" || $("#password").val() == "" */) {  
		       		$("#message").html("用户名和密码不能为空！");  
		            return false;  
				} else {
					$.ajax({
					    url: "/ajaxSubmitPrayer",
					    data: JSON.stringify({
						    content: $('#content').val(),
						    	location: $('#city').val(),
						    	target: "",
						    	gender: $('input:radio[name=gender]:checked').val()
					    }),
					    	dataType: "json",
					    	beforeSend: function(){  
			                 $("#submit-button").val("正在提交，请稍后...");  
			            	}, 
					    	type: "POST",
					    	contentType: "application/json",
					    	success: function (data) {
							if(data.verify) {
								$("#publish-message").show();						
							} else {
								
	                        		return ;  
							}
			       	 	}
			    		}); 
				}  
			});
		});
	</script>

</body>
</html>